# read Excel

In [1]:
import pandas as pd

In [2]:
xlsx=pd.ExcelFile('Book.xlsx')

In [3]:
pd.read_excel(xlsx,'Sheet1')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
frame=pd.read_excel(xlsx,'Sheet1')

In [5]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
writer=pd.ExcelWriter('Book2.xlsx')

In [10]:
frame.to_excel('Book2.xlsx')

In [12]:
writer.save()

C:\Users\moavia computer\AppData\Local\Temp\ipykernel_6476\934276808.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()